body
{
	background-color: #d4d4d4;
	margin: 0px;
	padding: 0px;
}
.mydiv
{
	text-align: center;
	width: 150px;
	height: 150px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: orange;
	position: absolute;
}


